
.modal-content {
    border: 5px solid #007bff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); 
}

.modal-header {
    background-color: #007bff; 
    color: white; 
}

.modal-footer .btn-secondary {
    background-color: #6c757d; 
    border-color: #6c757d; 
}

    .modal-footer .btn-secondary:hover {
        background-color: #5a6268; 
        border-color: #5a6268; 
    }


@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

#employeeImage {
    animation: colorChange 5s infinite; 
}
